<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Status Einzahlung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="getTransferStatus($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-label>
    Hans
  </ion-label>
  <ion-list>
    <ion-item *ngFor="let item of states1">
      <ion-label>{{item?.targetCurrency}}&nbsp;{{item?.targetValue?.toFixed(2)}}</ion-label>
      <ion-datetime value="{{item?.created}}" display-format="DD.MM HH:mm" readonly="true"></ion-datetime>
    </ion-item>
  </ion-list>
  <ion-label>
    La-Iad
  </ion-label>
  <ion-list>
    <ion-item *ngFor="let item of states2">
      <ion-label>{{item?.targetCurrency}}&nbsp;{{item?.targetValue?.toFixed(2)}}</ion-label>
      <ion-datetime value="{{item?.created}}" display-format="DD.MM HH:mm" readonly="true"></ion-datetime>
    </ion-item>
  </ion-list>
</ion-content>