<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Geld schicken</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card><b>เลือกผู้รับ</b></ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <img height="80" src="../../assets/su.png" />
          <ion-header>Suthep</ion-header>
        </ion-col>
        <ion-col size="8">
          <ion-list lines="none">
            <ion-item>
              <ion-button fill="clear" [routerLink]="['step2','su1']">
                <img height="20" src="../../assets/kasikornbank.png" />
              </ion-button>
            </ion-item>
            <ion-item>
              <ion-button fill="clear" full [routerLink]="['step2','su2']">
                <img height="20" src="../../assets/scb-logo.svg" />
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <img height="80" src="../../assets/ui.png" />
          <ion-header>Uaichai</ion-header>
        </ion-col>
        <ion-col size="8">
          <ion-list lines="none">
            <ion-item>
              <ion-button fill="clear" block [routerLink]="['step2','ui1']">
                <img height="20" src="../../assets/kasikornbank.png" />
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <img height="80" src="../../assets/da.png" />
          <ion-header>Damrong</ion-header>
        </ion-col>
        <ion-col size="8">
          <ion-list lines="none">
            <ion-item>
              <ion-button fill="clear" block [routerLink]="['step2','da1']">
                <img height="20" src="../../assets/kasikornbank.png" />
              </ion-button>
            </ion-item>
            <ion-item>
              <ion-button fill="solid" full [routerLink]="['step2','da2']">
                <img height="20" src="../../assets/bangkokbank.svg" />
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <img height="80" src="../../assets/ko.png" />
          <ion-header>Kornkanok</ion-header>
        </ion-col>
        <ion-col size="8">
          <ion-list lines="none">
            <ion-item>
              <ion-button fill="clear" block [routerLink]="['step2','ko1']">
                <img height="20" src="../../assets/kasikornbank.png" />
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>