<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Send Money</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card [routerLink]="['step2','su']">
    <img height="80" src="../../assets/su.png" />
    <ion-card-header>
      Suthep
    </ion-card-header>
  </ion-card>
  <ion-card [routerLink]="['step2','ui']">
    <img height="80" src="../../assets/ui.png" />
    <ion-card-header>
      Uaichai
    </ion-card-header>
  </ion-card>
  <ion-card [routerLink]="['step2','da']">
    <img height="80" src="../../assets/da.png" />
    <ion-card-header>
      Damrong
    </ion-card-header>
  </ion-card>
  <ion-card [routerLink]="['step2','ko']">
    <img height="80" src="../../assets/ko.png" />
    <ion-card-header>
      Kornkanok
    </ion-card-header>
  </ion-card>
</ion-content>