<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon [routerLink]="['/overview']" name="home"></ion-icon>
    </ion-buttons>
    <ion-title>Status Auszahlung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="getTransferStatus($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-segment (ionChange)="segmentChanged($event)" color="secondary" [(ngModel)]="select">
    <ion-segment-button value="Hans" checked>
      <ion-label>Hans</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Laiad">
      <ion-label>La-Iad</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-list *ngIf="segment == 'Hans'">
    <app-transfer-status [states]="states1" sourceAccount="tw1" (cancelled)="cancelTransfer('tw1',$event)">
    </app-transfer-status>
    <ion-item *ngIf='states1?.length === 0'><i>Keine Auszahlung in letzter Woche</i></ion-item>
  </ion-list>
  <ion-list *ngIf="segment == 'Laiad'">
    <app-transfer-status [states]="states2" sourceAccount="tw2" (cancelled)="cancelTransfer('tw2',$event)">
    </app-transfer-status>
    <ion-item *ngIf='states2?.length === 0'><i>Keine Auszahlung in letzter Woche</i></ion-item>
  </ion-list>
</ion-content>